* {
	margin: 0;
	padding: 0;
}
body {
	font-family: Arial, sans-serif;
	font-size: 13px;
	margin: 20px;
	color: #333;
}
h1 { margin-bottom: 20px; font-size: 24px; letter-spacing: -1px; color:#9FCF37; }
h2, p, ul, ol, table { margin-bottom: 10px; }
h2 { padding-top: 10px; }
h2 { font-size: 16px; }
ul, ol { margin-left: 20px; }
a { color: #3777CE; }
small { color: #666; }
table { border-collapse: collapse; }
th, td {
	padding: 5px 10px;
	border: 1px solid #ccc;
	text-align: left;
}
th {
	background-color: #666;
	color: #fff;
}

.example .no-support, .example.no-support .support { display: none; }
.example .support, .example.no-support .no-support { display: block; }
